<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IProjectCollectionDao" >
    <resultMap id="BaseResultMap" type="com.domain.ProjectCollection" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="contractId" property="contractId" jdbcType="VARCHAR" />
        <result column="EAScode" property="easCode" jdbcType="VARCHAR" />
        <result column="projectName" property="projectName" jdbcType="VARCHAR" />
        <result column="contractName" property="contractName" jdbcType="VARCHAR" />
        <result column="PartyAName" property="partyAName" jdbcType="VARCHAR" />
        <result column="PartyAArea" property="partyAArea" jdbcType="VARCHAR" />
        <result column="ProjectDepartment" property="projectDepartment" jdbcType="VARCHAR" />
        <result column="contractAmount" property="contractAmount" jdbcType="DOUBLE" />
        <result column="settlementAmount" property="settlementAmount" jdbcType="DOUBLE" />
        <result column="backPaymentConditions" property="backPaymentConditions" jdbcType="VARCHAR" />
        <result column="dedWarrantyProportion" property="dedWarrantyProportion" jdbcType="INTEGER" />
        <result column="warrantyStartDate" property="warrantyStartDate" jdbcType="DATE" />
        <result column="warrantyDueDate" property="warrantyDueDate" jdbcType="DATE" />
        <result column="completionProgress" property="completionProgress" jdbcType="VARCHAR" />
        <result column="completionPercentage" property="completionPercentage" jdbcType="VARCHAR" />
        <result column="projectOutput" property="projectOutput" jdbcType="VARCHAR" />
        <result column="backPaymentNodeProportion" property="backPaymentNodeProportion" jdbcType="VARCHAR" />
        <result column="contractNodeReceivables" property="contractNodeReceivables" jdbcType="VARCHAR" />
        <result column="InvoiceAmount" property="InvoiceAmount" jdbcType="VARCHAR" />
        <result column="operateId" property="operateId" jdbcType="VARCHAR" />
        <result column="createDate" property="createDate" jdbcType="DATE" />
        <result column="updateDate" property="updateDate" jdbcType="DATE" />
        <result column="yn" property="yn" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, contractId, EAScode, projectName, contractName, PartyAName,
        PartyAArea, ProjectDepartment,contractAmount, settlementAmount,
        backPaymentConditions, dedWarrantyProportion, warrantyStartDate, warrantyDueDate,
        completionProgress,completionPercentage,projectOutput,backPaymentNodeProportion,
        contractNodeReceivables,InvoiceAmount,
        operateId, createDate,updateDate,yn
    </sql>


    <select id="getCountProjectCollection" resultType="long" parameterType="com.domain.ProjectCollection" >
        select count(1) from project_collection
        <where>
            <if test="contractId!=null and contractId !=''">
                and contractId = #{contractId,jdbcType=VARCHAR}
            </if>
            <if test="projectName!=null and projectName !=''">
                and projectName = #{projectName,jdbcType=VARCHAR}
            </if>
            <if test="easCode!=null and easCode !=''">
                and easCode = #{easCode,jdbcType=VARCHAR}
            </if>
            <if test="startDate!=null and startDate !=''">
                and createDate &gt;= #{startDate,jdbcType=VARCHAR}
            </if>
            <if test="endDate!=null and endDate !=''">
                and createDate &lt;= #{endDate,jdbcType=VARCHAR}
            </if>
            <if test="operateId!=null and operateId !=''">
              and operateId = #{operateId,jdbcType=VARCHAR}
            </if>
            and yn = 1
        </where>
    </select>
    <select id="queryProjectCollectionByPage" resultMap="BaseResultMap" parameterType="com.domain.ProjectCollection" >
        select
        <include refid="Base_Column_List" />
        from project_collection
        <where>
            <if test="contractId!=null and contractId !=''">
                and contractId = #{contractId,jdbcType=VARCHAR}
            </if>
            <if test="projectName!=null and projectName !=''">
                and projectName = #{projectName,jdbcType=VARCHAR}
            </if>
            <if test="easCode!=null and easCode !=''">
                and easCode = #{easCode,jdbcType=VARCHAR}
            </if>
            <if test="startDate!=null and startDate !=''">
                and createDate &gt;= #{startDate,jdbcType=VARCHAR}
            </if>
            <if test="endDate!=null and endDate !=''">
                and createDate &lt;= #{endDate,jdbcType=VARCHAR}
            </if>
            <if test="operateId!=null and operateId !=''">
                and operateId = #{operateId,jdbcType=VARCHAR}
            </if>
            and yn = 1
        </where>
    </select>

    <insert id="saveProjectCollection" parameterType="com.domain.ProjectCollection" >
        insert into project_collection (contractId,
        EAScode, projectName, contractName,
        PartyAName, PartyAArea,
        ProjectDepartment, contractAmount, settlementAmount, backPaymentConditions,
        dedWarrantyProportion, warrantyStartDate,warrantyDueDate,
        completionProgress,completionPercentage,projectOutput,backPaymentNodeProportion,
        contractNodeReceivables,InvoiceAmount,
        operateId, createDate,updateDate,yn)
        values (#{contractId,jdbcType=VARCHAR},
        #{easCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR},
        #{partyAName,jdbcType=VARCHAR}, #{partyAArea,jdbcType=VARCHAR},
        #{projectDepartment,jdbcType=VARCHAR},#{contractAmount,jdbcType=DOUBLE}, #{settlementAmount,jdbcType=DOUBLE}, #{backPaymentConditions,jdbcType=VARCHAR},
        #{dedWarrantyProportion,jdbcType=INTEGER}, #{warrantyStartDate,jdbcType=DATE},#{warrantyDueDate,jdbcType=DATE},
        #{completionProgress,jdbcType=VARCHAR},#{completionPercentage,jdbcType=VARCHAR},
        #{projectOutput,jdbcType=VARCHAR},#{backPaymentNodeProportion,jdbcType=VARCHAR},
        #{contractNodeReceivables,jdbcType=VARCHAR},#{InvoiceAmount,jdbcType=VARCHAR},
        #{operateId,jdbcType=VARCHAR},now(),now(),1)
    </insert>
    <update id="updateProjectCollection" parameterType="com.domain.ProjectCollection" >
        update project_collection
        set #{contractId,jdbcType=VARCHAR},
        #{easCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR},
        #{partyAName,jdbcType=VARCHAR}, #{partyAArea,jdbcType=VARCHAR},
        #{projectDepartment,jdbcType=VARCHAR},#{contractAmount,jdbcType=DOUBLE}, #{settlementAmount,jdbcType=DOUBLE}, #{backPaymentConditions,jdbcType=VARCHAR},
        #{dedWarrantyProportion,jdbcType=INTEGER}, #{warrantyStartDate,jdbcType=DATE},#{warrantyDueDate,jdbcType=DATE},
        #{completionProgress,jdbcType=VARCHAR},#{completionPercentage,jdbcType=VARCHAR},
        #{projectOutput,jdbcType=VARCHAR},#{backPaymentNodeProportion,jdbcType=VARCHAR},
        #{contractNodeReceivables,jdbcType=VARCHAR},#{InvoiceAmount,jdbcType=VARCHAR},
        operateId = #{operateId,jdbcType=VARCHAR},
        updateDate = now()
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="deleteProjectCollection" parameterType="com.domain.ProjectCollection" >
        update project_collection
        set yn = 0,
        operateId = #{operateId,jdbcType=VARCHAR},
        updateDate = now()
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>